Raw Files/.ipynb_checkpoints
*.icloud

BattleLogs/.ipynb_checkpoints/

Raw Files/teams/

Python Files/JSON/.ipynb_checkpoints/

Python Files/JSON/AvailablePokemon.txt
Python Files/JSON/json_teams/

Python Files/__pycache__/
